loguru==0.7.2               # https://pypi.org/project/loguru/
lyricsgenius==3.0.1         # https://pypi.org/project/lyricsgenius/
newrelic==9.2.0         # https://pypi.org/project/newrelic/
python-decouple==3.8        # https://pypi.org/project/python-decouple/
python-dotenv==1.0.0       # https://pypi.org/project/python-dotenv/
python-lambda==11.8.0       # https://pypi.org/project/python-lambda/
prodict==0.8.18             # https://pypi.org/project/prodict/
pytest
redis==5.0.1                # https://pypi.org/project/redis/
spotipy==2.23.0             # https://pypi.org/project/spotipy/
tweepy==4.14.0              # https://pypi.org/project/tweepy/
pyjks==20.0.0
Django==5.0
